<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <img class="card-img-top"
            src="https://www.audi.bg/media/Theme_Menu_Model_Dropdown_Item_Image_Component/root-bg-model-modelMenu-editableItems-20246-dropdown-92336-image/dh-487-a0e9a6/9896f0b2/1585833686/audi-a5-sportback-2020.jpg"
            alt="">
        <div class="card-body">
            <h5 class="card-title"><i class="fas fa-route"></i> <span>Sofia</span> -
                <span>Haskovo</span>
            </h5>
            <h5 class="mt-4 card-info"><i class="far fa-calendar-alt"></i> Date: <span>2021-06-14</span>
            </h5>
            <h5 class="mt-4 card-info"><i class="far fa-clock"></i> Time: <span>14:03</span></h5>
            <h5 class="mt-4"><i class="fas fa-hand-holding-usd"></i> Price: <span>25</span> BGN</h5>
        </div>
        <div class="card-footer">
            <a href="" class="btn btn-primary">Details</a>
        </div>
    </div>
</div>